{% extends 'AccountMgmt/base.html' %}





{% block bootstrap3_content %}
    
    
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">List content note</div>
  <div class="panel-body">
    <p>List of Offices {{ currentUserInfo.userName }} have access to</p>
  </div>

  <!-- Table -->
  <table class="table">
      <tr>
        <td>Office Name</td>
        <td>Action</td>
      </tr>
      
        {% for office in office_list_standard %}
           <tr> 
            <td>
                <a href="{{ office.officeID }}">{{ office.officeName }}</a>
            </td>
            <td>
                <a href="{{office.officeID}}/edit">Edit</a>
            </td>
           </tr>
        {% endfor %}
      
  </table>
</div>




{% endblock %}

  
    