{% extends "AccountMgmt/base.html" %}
{% load bootstrap3 %}




{# Display a form #}
{% block content %}
    
<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">List content note</div>
  <div class="panel-body">
    <p>Account Detailed Information</p>
  </div>
</div>
<form  method="post" class="form">
    {% csrf_token %}
    

     <div class="row" style="border-top: 1px solid black;">
        <div class="col-md-5" style="padding:25px; ">
            {% for field in leftFields %}
               {% bootstrap_field field %}
            {% endfor %}
        </div>
        <div class="col-md-5" style="padding:25px;">
            {% for field in rightFields %}
               {% bootstrap_field field %}
            {% endfor %}
        </div>
        
    </div>
     
    <div class="row" style="border-top: 1px solid black;">
        <div class="col-md-4" style="padding:25px;">
            {% for field in middleFields %}
               {% bootstrap_field field %}
            {% endfor %}
        </div>
         
        <div class="col-sm-6">
             
        </div>
        
    </div>
    <div class = "row">
        
        <div class ="col-md-4">
            {% for field in bottomFields %}
               {% bootstrap_field field %}
            {% endfor %}`
            
        </div>
        
    </div>
        
    {% buttons %}
        <button type="submit" class="btn btn-success">
            {% bootstrap_icon "star" %} Submit
        </button>
    {% endbuttons %}
    
    
    
    
    
    
</form>


{% endblock %}